.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  background: linear-gradient(to bottom, #ff4e50, #f9d423);
  padding: 20px;
  justify-content: space-between;
}
.section {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
   @media screen and (min-width: 768px) {
    flex-direction: row;
    
  }
}
.sectionTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
   @media screen and (min-width: 768px) {
    flex-direction: row;
    
  }
}

.title {
  margin: 0;
  font-size: 16px;
}
.filterBox,
.counterBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
